{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/skell3.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Share information about the islands of Ireland</header>
      <p> Post locations, write reviews, share photos </p>
    </article>
  </div>
</section>