<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Islands of Ireland </a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Add Location</a>
    <a id="report" class= "item" href="/listlocations"> List Locations</a>
    <a id="userinfo" class= "item" href="/showusersettings"> User Info</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>